<div class="py-5">
  <div class="container">
    <ng-container *ngIf="!addPictureMode">
      <div class="d-flex justify-content-between mb-3">
        <h3>Product Pictures</h3>
        <button class="btn btn-outline-primary" (click)="addPictureModeToggle()">
          Add New Picture
        </button>
      </div>

      <div class="row">
        <div class="col-3" *ngFor="let picture of product?.pictures">
          <div class="card">
            <img class="card-img-top" width="100%" height="225" src="{{picture.pictureUrl}}" alt="{{picture.fileName}}" />
            {{picture.isMain}}
            <div class="btn-group" style="width: 100%">
              <button 
                (click)="setMainPicture(picture.id)"
                [disabled]="picture.isMain"
                class="{{picture.isMain ? 'btn btn-info' : 'btn btn-outline-info'}}"
                style="width: 50%">
                  Set Main
              </button>

              <button 
                (click)="deletePicture(picture.id)"
                type="button"
                [disabled]="picture.isMain"
                class="btn btn-outline-danger"
                style="width: 50%">
                  <i class="fa fa-trash"></i>
              </button>
            </div>
          </div>
        </div>
      </div>
    </ng-container>

    <ng-container *ngIf="addPictureMode">
      <div class="d-flex justify-content-between mb-5">
        <h3 class="text-info">Add new product image</h3>
        <button class="btn btn-outline-secondary" (click)="addPictureModeToggle()">Cancel</button>
      </div>
      <div class="progress form-group" *ngIf="progress > 0">
        <div class="progress-bar progress-bar-striped bg-success" role="progressbar" [style.width.%]="progress">
          {{progress}}%
        </div>
      </div>
      <app-picuture-widget (addFile)="uploadImage($event)"></app-picuture-widget>
    </ng-container>

  </div>
</div>